@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: Roboto, sans-serif;
}
h2 {
    margin-bottom: 0.7rem;
}
p {
    line-height: 1.7;
}
section {
    width: 100%;
    display: block;
    margin: auto;
    background-color: #f3f3f3;
}
.container {
    max-width: 1400px;
    background: #fff;
    padding: 10px;
    margin: 10px auto;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper .card {
    width: 300px;
    height: 300px;
    margin: 15px;
    position: relative;
    overflow: hidden;
}
.wrapper .card .imgBox, 
.wrapper .card .contentBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wrapper .card .imgBox img {
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapper .card .contentBox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;    
    transform-origin: right;
}
.wrapper .card:hover .contentBox::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
}
.wrapper .card .contentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper .card .contentBox .content {
    position: relative;
    padding: 30px;
    text-align: left;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-320px);
    transition-delay: 0s;
    color: #fff;
}
.wrapper .card:hover .contentBox .content {
    transform: translateX(0px);
    transition-delay: 0.5s;
}
