@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: Roboto, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: #111;
}
h2 {
    font-size: 3rem;
    text-transform: capitalize;
    color: #fff;
}

section .text {
    position: relative;
}
section .text span {
    position: relative;
    display: inline-block;
    
    /* Effect 01 */
    /* text-shadow: 0 -60px 0 #fff,
                 0 60px 0 #fff; */
    /* animation: animate 2s ease-in-out infinite; */

    /* Effect 02 */
    animation: animate 3s ease-in-out infinite;
}

/* Effect 01 */

/* @keyframes animate {
    0% {
        transform: translateY(70px);
    }
    50% {
        transform: translateY(-70px);
    }
    100% {
        transform: translateY(70px);
    }
} */

/* Effect 01 */
@keyframes animate {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-100px);
    }
    50%, 100% {
        transform: translateY(0px);
    }
}
